.navbar {
  padding: 20px 0px;
  background: rgba(96,125,139,.9);
  border: 1px solid red;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  height: 46px;
  margin-bottom: 1em;
  overflow: hidden;
}

.navbar a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid red;
  min-width: 120px;

  background-image: -webkit-linear-gradient(top, #f8f8f8, #bdbdbd);
  background-image: -moz-linear-gradient(top, #f8f8f8, #bdbdbd);
  background-image: -ms-linear-gradient(top, #f8f8f8, #bdbdbd);
  background-image: linear-gradient(top, #f8f8f8, #bdbdbd);
  border: 1px solid #959695;
  border-bottom-color: #7c7e7c;
  border-right-width: 0;
  border-top-color: #aeafae;
  box-shadow: inset 0px 1px 0px #fbfbfb, inset 1px 0px 0px #ededed, inset 0px -1px 0px #dfdfdf, inset -1px 0px 0px #ededed, 0px 1px 0px #cfcfcf;
  box-sizing: border-box;
  color: #444;
  height: 45px;
  outline: none;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
}

.navbar a:visited {
  color: #444;
}

.navbar a:hover {
  background-image: -moz-linear-gradient(top, #f8f8f8, #c9c9c9);
  background-image: -ms-linear-gradient(top, #f8f8f8, #c9c9c9);
  background-image: -webkit-linear-gradient(top, #f8f8f8, #c9c9c9);
  background-image: linear-gradient(top, #f8f8f8, #c9c9c9);
  box-shadow: inset 0px 1px 0px #fcfcfc, inset 1px 0px 0px #f0f0f0, inset 0px -1px 0px #e4e4e4, inset -1px 0px 0px #f0f0f0, 0px 1px 0px #cfcfcf;
  text-decoration: none;
}

.navbar a:active {
  background-image: -moz-linear-gradient(top, #d3d3d3, #939393);
  background-image: -ms-linear-gradient(top, #d3d3d3, #939393);
  background-image: -webkit-linear-gradient(top, #d3d3d3, #939393);
  background-image: linear-gradient(top, #d3d3d3, #939393);
  box-shadow: inset 0px 1px 0px #8e8e8e, inset 0px 2px 0px #bdbdbd, inset 1px 0px 0px #bababa, inset 0px -1px 0px #9d9d9d, inset -1px 0px 0px #bababa, 0px 1px 0px #ffffff;
}

.navbar a.selected {
  box-shadow: inset 0px 1px 0px #87ceff, inset 1px 0px 0px #5dacea, inset 0px -1px 0px #50a2e3, inset -1px 0px 0px #5dacea, 0px 1px 0px #c2c8d3;
  background: -moz-linear-gradient(top, #7ac8fe, #0c71c7 74%);
  background: -ms-linear-gradient(top, #7ac8fe, #0c71c7 74%);
  background: -webkit-linear-gradient(top, #7ac8fe, #0c71c7 74%);
  background: linear-gradient(top, #7ac8fe, #0c71c7 74%);
  border: 1px solid #1660ba;
  border-bottom-color: #014baf;
  border-right-width: 0;
  border-top-color: #2c76c6;
  color: #fff;
  text-shadow: 0 -1px 0 #32537f;
}

.navbar a.selected + a {
  border-left-color: #1660ba;
}

.navbar a:first-child {
  border-radius: 5px 0 0 5px;
}

.navbar a:last-child {
  border-radius: 0 5px 5px 0;
  border-right-width: 1px;
}